@model IEnumerable<MascotaFelizPrueba.Models.VisitaPyP>

@{
    ViewData["Title"] = "Index";
}

<h1>VisitaPyP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAnimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recomendaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVisita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaRespiratoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaCardiaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAnimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recomendaciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
